<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <property name="LOG_HOME" value="/tmp/javapairs/logs"/>

    <!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %class{30} %-5level %logger{30} ==> %msg%n</pattern>
       %class same as %logger
     -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{30} ==> %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="main"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/design/design.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/design/design.log-%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{30} ==> %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>
