<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <property name="LOG_HOME" value="/tmp/javapairs/logs"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %class %-5level ==> %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="main"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/practice/practice.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/practice/practice.log-%d{yyyy-MM-dd}
            </FileNamePattern>
            <MaxHistory>3</MaxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %class %-5level ==> %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="mybatis-data"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/practice/practice-data.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/practice-dv/practice-data.log-%d{yyyy-MM-dd}
            </FileNamePattern>
            <MaxHistory>8</MaxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %class %-5level ==> %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>
